* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body {
    /* width: 70%; */
    /* min-width: 350px; */
    max-width: 800px;
    background-color: skyblue;
}

.display {
    font-size: 2rem;
    text-align: end;
}

button {
    background-color: white; 
    font-weight: bold;
    border-radius: 4px;
    min-width: 50px;
    min-height: 50px;

  }

.buttons {
    display: grid;
    grid-template-columns: 175px 50px;
    /* gap: 10px; */
    grid-template-rows: 50px 15px 1fr;
}

.clear {
    place-self: start;
}

.numerical {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-right: 15px;
}

.operators {
    grid-column-start: 2;
    grid-row-start: 3;
}

.add {
    grid-column-start: 2;
    grid-row-start: 1;  
}