* {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

body {
    background-color: #5c676e;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-body {
    position: absolute;
    padding: 20px;
    background-image: url('texture.jpg');
    border-radius: 3px;
    box-shadow: 
    0px -5px 8px 0px #00000057,
    0px 15px 8px 0px #00000087;
}

.display {
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 48px;
    margin-top: 16px;
    padding-right: 5px;
    background-color: #191c20;
    border-top: 5px inset #7d7d7d;
    border-bottom: 5px inset #373f48;
    font-size: 2.5rem;
    text-align: end;
    color: #098f1f;
    text-shadow:
    0 0 5px #098f1f,
    0 0 11px #098f1f,
    0 0 22px #077719,
    0 0 32px #077719,
    0 0 42px #077719;
}

button {
    font-weight: bold;
    border-radius: 3px;
    min-width: 60px;
    min-height: 38px;
    box-shadow: 0px 0px 2px 1px black;
  }

.buttons {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    'clear clear clear plusMinus'
    'num num num divide'
    'num num num multiply'
    'num num num subtract'
    'num num num add';
    padding: 10px;
    box-shadow: 0px 0px 2px 0px #6e6e6e;
}

.container-buttons {
    background-color: #303841;
    border: inset 5px #303841;
}

.clear, .clear-entry, .clear-last {
    background-color: #F07B3F;
    color: black;
}

.number, .dot{
    background-color: #fff7e5;
    color: black;
}

.operator, .plusMinus {
    background-color: #303841;
    color: #fff7e5;
    grid-area: operator;
}

.subtract {
    background-color: #D72323;
    color: black;
    grid-area: subtract;
}

.add {
    background-color: #78c8e7;
    color: black;
    grid-area: add;
}

.equal {
    background-color: #303841;
    color: #fff7e5;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.plusMinus {
    grid-area: plusMinus;
}

.material-symbols-outlined {
position: relative;
top: 2px;
}

.container-white {
    position: absolute;
    top: 70px;
    left: -10px;
    width: 360px;
    z-index: -2;
}

.grip {
    height: 20px;
    border-radius: 6px;
    background-color: #EEEEEE;
    z-index: -1;
}

.white-line {
    position: absolute;
    height: 510px;
    width: 15px;
    top: -72px;
    background-color: #e7e7e7;
    box-shadow: 0px 0px 13px 5px #00000033;
    border-radius: 4px;
}

.white-line.left {
    left: 3px;
}

.white-line.right {
    right: 3px;
}

.number:hover, .dot:hover {
    background-color: hsl(42, 100%, 85%);
}

.operator:hover, .equal:hover, .plusMinus:hover {
    background-color: hsl(212, 15%, 32%);
}

.add:hover {
    background-color: hsl(197, 70%, 79%);
}

.subtract:hover {
    background-color: hsl(0, 72%, 59%);
}

.clear:hover, .clear-entry:hover, .clear-last:hover {
    background-color: hsl(20, 86%, 69%);
}

/* .white-line.left {
    position: absolute;
    height: 510px;
    width: 15px;
    top: -72px;
    left: 3px;
    background-color: #e7e7e7;
    z-index: -3;
    box-shadow: -5px 0px 9px 3px #00000033;
    border-radius: 4px;
}

.white-line.right {
    position: absolute;
    height: 510px;
    width: 15px;
    top: -72px;
    right: 3px;
    background-color: #e7e7e7;
    z-index: -3;
    box-shadow: 5px 0px 9px 3px #00000033;
    border-radius: 4px;
} */